*{
  margin: 0;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;

}

h1 {
  margin: 0;
}

.product-list, .cart {
  width: 100%;
  text-align: left;
  margin: 20px;
}


ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  align-items: center;
}


ul>* {
  flex: 0 0 20%;
}

.product-list button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  width: 100%;
}

.cart {
  background-color: #f0f0f0;
}

.cart h2 {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.cart ul {
  padding: 10px;
}

li{
  width: 100%;
  height: 15rem;
  display: grid;
}
li img{
  width: 100%;
  height: 10rem;
}

Link{
  text-decoration: none;
  color: #fff;
}

.navBar{
  position: absolute;
  right: 0;
  padding-top: 0.5rem;
  padding-right: 1rem;
}

/* media queries for responsiveness */
@media (max-width: 768px) {
  .product-list, .cart {
    width: 100%;
    float: none;
  }
}


/* login css */

.login-body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 350px;
  text-align: center;
}

.login-container h2 {
  color: #333;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #45a049;
}